/*CUSTOMISATION FOOTER*/
footer{
    background-color: grey;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .inh{
        background-color: inherit;
    }
    .ul1{
        list-style: none;
        padding-top: 15rem;
        li{
        margin-top:0.5rem;
        a{
            color:#fff;
            transition:0,.5s;
            &:hover{
                text-decoration: none;
                color: #742663;
            }
        }
        ul.social-icons {
            margin-top: 10px;
        }
        .social-icons li {
            vertical-align: top;
            display: inline;
            height: 100px;
        }
        
        .pictos{
            object-fit: cover;
            margin: 0 auto;
            display:block;
            ul.social-icons{
            margin-top: 2rem;
            .social-icons {
                color: #fff;
                margin-top: 10px;
                .social-icons li {
                    vertical-align: top;
                    display: inline;
                }
                .social-icons a {
                    color: #fff;
                    text-decoration: none;
                .fa-facebook,.fa-twitter,.fa-instagram,.fa-youtube {
                    padding:0.1rem;
                    transition: .5s;
                    &:hover {
                        text-decoration: none;
                        background-color: #742663;

                    }
                }
                }
            }
            }
        }
        }
    }
    .social-icons a {
        color: #fff;
        text-decoration: none;
    }
    .bas{
        a{
            color: black;
        }
    }
}