@font-face {
  font-family: Poppins;
  src: url(../../fonts/poppins/Poppins-Regular.ttf);
}

$font1: Poppins, sans-serif;

$pink: #742663;
$blue: #33368c;
$grey: #b3b3b3;
$black: #000000;
$white: #ffffff;
$border: border-radius 5%;
