/* IMPORTATION DES _SCSS*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@font-face {
  font-family: Poppins;
  src: url(../../fonts/poppins/Poppins-Regular.ttf);
}

* {
  list-style-type: none;
  margin: 0;
  border: 0;
}

/*BASE*/
*,
body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

h1 {
  color: white;
  padding-top: 5rem;
}

h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
}

h3 {
  text-transform: uppercase;
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

p {
  color: black;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  list-style: none;
}

/* CUSTOMISATION HEADER */
header .navBar {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px;
  background: url() center/cover;
}

header .navBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  font-size: 1rem;
  width: 100%;
  background: #000;
  padding: 10px;
}

header .navBar a {
  text-decoration: none;
  color: white;
}

header .navBar li {
  width: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navBar button {
  background: white;
  padding: 10px;
}

/*CUSTOMISATION BOUTON*/
.btn {
  background-color: white;
  color: #000000;
  padding: 0.5rem 2rem;
  border: 1px solid #000000;
  border-radius: 3px;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  margin: 1rem auto;
}

/*CUSTOMISATION FOOTER*/
footer {
  background-color: #000000;
}

footer .ul1 {
  list-style: none;
}

footer .ul1 li {
  margin-top: 0.5rem;
}

footer .ul1 li a {
  color: #fff;
  -webkit-transition: 0,.5s;
  transition: 0,.5s;
}

footer .ul1 li a:hover {
  color: orange;
}

footer .ul1 li ul.social-icons {
  margin-top: 10px;
}

footer .ul1 li .social-icons li {
  vertical-align: top;
  display: inline;
  height: 100px;
}

footer .ul1 li .pictos {
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
  display: block;
}

footer .ul1 li .pictos ul.social-icons {
  margin-top: 2rem;
}

footer .ul1 li .pictos ul.social-icons .social-icons {
  color: #fff;
  margin-top: 10px;
}

footer .ul1 li .pictos ul.social-icons .social-icons .social-icons li {
  vertical-align: top;
  display: inline;
}

footer .ul1 li .pictos ul.social-icons .social-icons .social-icons a {
  color: #fff;
  text-decoration: none;
}

footer .ul1 li .pictos ul.social-icons .social-icons .social-icons a .fa-facebook, footer .ul1 li .pictos ul.social-icons .social-icons .social-icons a .fa-twitter, footer .ul1 li .pictos ul.social-icons .social-icons .social-icons a .fa-instagram, footer .ul1 li .pictos ul.social-icons .social-icons .social-icons a .fa-youtube {
  padding: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
}

footer .ul1 li .pictos ul.social-icons .social-icons .social-icons a .fa-facebook:hover, footer .ul1 li .pictos ul.social-icons .social-icons .social-icons a .fa-twitter:hover, footer .ul1 li .pictos ul.social-icons .social-icons .social-icons a .fa-instagram:hover, footer .ul1 li .pictos ul.social-icons .social-icons .social-icons a .fa-youtube:hover {
  background-color: orange;
}

footer .social-icons a {
  color: #fff;
  text-decoration: none;
}

/*CUSTOMISATION TITRE*/
/*CUSTOMISATION CARROUSSEL*/
.multi-item-carousel .carousel-inner > .item {
  -webkit-transition: 500ms ease-in-out left;
  transition: 500ms ease-in-out left;
}

.multi-item-carousel .carousel-inner .active.left {
  left: -33%;
}

.multi-item-carousel .carousel-inner .active.right {
  left: 33%;
}

.multi-item-carousel .carousel-inner .next {
  left: 33%;
}

.multi-item-carousel .carousel-inner .prev {
  left: -33%;
}

@media all and (transform-3d), (-webkit-transform-3d) {
  .multi-item-carousel .carousel-inner > .item {
    -webkit-transition: 500ms ease-in-out left;
    transition: 500ms ease-in-out left;
    -webkit-transition: 500ms ease-in-out all;
    transition: 500ms ease-in-out all;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-transform: none !important;
            transform: none !important;
  }
}

.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
  background-image: none;
}

/*CUSTOMISATION physicCard*/
#physicCard .textGche {
  border: 2px solid orange;
  background-color: bisque;
}

input:required {
  border: 1px solid orange;
}

.navBar {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px;
  background: url() center/cover;
}

.navBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  font-size: 1rem;
  width: 100%;
  background: #000;
  padding: 10px;
}

.navBar a {
  text-decoration: none;
  color: white;
}

.navBar li {
  width: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navBar button {
  background: white;
  padding: 10px;
}

.chartContent {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 10px;
}

section .eventsContainer {
  border: 1px black solid;
  padding: 30px;
  width: 30%;
  margin-left: 30px;
  background: rgba(255, 255, 255, 0.5);
}

section .eventsTitle {
  padding-bottom: 10px;
}

section .titleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  font-size: 1.5rem;
}

section .eventImage {
  background: url(./Beaurdeaux.jpg) center/cover;
  height: 50vh;
  width: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  margin-bottom: 30px;
}

section .eventArea {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55%;
  border: 1px black solid;
  resize: none;
}

section .eventButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 120px;
}

section .eventButton button {
  padding: 15px;
  border: 1px black solid;
  background: white;
  width: 15%;
}

section .eventImageTwo {
  background: url(./pont.jpg) center/cover;
  height: 50vh;
  width: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  margin-bottom: 30px;
}

section h2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .gridPrice {
  width: 70%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
}

section .gridPrice .gridElement {
  border: 1px black solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 20px;
}

section .gridPrice .gridElement h4 {
  text-transform: uppercase;
  font-weight: 100;
}

section .gridPrice .gridElement h3 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.6rem;
}

section .gridPrice .gridElement p {
  text-transform: uppercase;
  font-weight: 100;
}

.navBar {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px;
  background: url() center/cover;
}

.navBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  font-size: 1rem;
  width: 100%;
  background: #000;
  padding: 10px;
}

.navBar a {
  text-decoration: none;
  color: white;
}

.navBar li {
  width: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navBar button {
  background: white;
  padding: 10px;
}

.faqBody {
  background: #000000;
}

.faqBody .faqHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #b3b3b3;
}

.faqBody .faqHeader h2 {
  margin: 350px 0 50px;
  font-size: 2rem;
  font-weight: 300;
}

.faqBody .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
}

.faqBody .icon {
  width: 19%;
}

.faqBody .icon p {
  margin-top: 40px;
  color: #b3b3b3;
  line-height: 30px;
}

.faqBody .icon img {
  height: 200px;
}

.faqBody .icon img:hover {
  cursor: pointer;
  opacity: 50%;
}

.faqBody .accordionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faqBody .accordionContainer h2 {
  margin: 100px 0 50px;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 300;
}

.faqBody .accordion {
  width: 60%;
}

.faqBody .accordion .contentBx {
  position: relative;
  margin: 10px 20px 5px;
  background: #ffffff;
  border-radius: 5px;
  padding: 10px 0;
}

.faqBody .accordion .contentBx p {
  padding-left: 20px;
}

.faqBody .accordion .contentBx .label {
  position: relative;
  padding: 10px;
  cursor: pointer;
}

.faqBody .accordion .contentBx .label::before {
  content: "+";
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.5rem;
}

.faqBody .accordion .contentBx .content {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.faqBody .accordion .contentBx .content::after {
  content: "";
  position: absolute;
  top: 0;
  height: 1px;
  background: #b3b3b3;
  width: 95%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.faqBody .accordion .contentBx.active .label::before {
  content: "-";
}

.faqBody .accordion .contentBx.active .content {
  height: 150px;
  padding: 10px;
}

@media (max-width: 1000px) {
  .faqBody .icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .faqBody .icon {
    width: auto;
  }
  .faqBody .icon p {
    margin: 0 30px;
  }
  .faqBody .accordion {
    width: 80%;
  }
  .faqBody .accordion .label p {
    padding-right: 30px;
  }
}

.roomBody {
  background: #000000;
}

.roomBody section h2 {
  color: #ffffff;
  font-size: 2rem;
  margin-top: 100px;
}

.roomBody .roomHeader {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/room/HEADER-CHAMBRE.png) center/cover;
}

.roomBody .roomHeader .bgHeader {
  width: 50%;
}

.roomBody .roomHeader .bgHeader .intro {
  margin-left: 30px;
}

.roomBody .roomHeader .bgHeader .intro h1 {
  color: #b3b3b3;
  font-weight: 300;
  margin-bottom: 20px;
}

.roomBody .roomHeader .bgHeader .intro p {
  color: #b3b3b3;
  line-height: 30px;
}

.roomBody .carrousel {
  height: 500px;
}

.roomBody .info div:first-child {
  margin: 50px;
  background: #ffffff;
  height: 500px;
  width: 90%;
  border-radius: 10px;
}

.roomBody .info div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.roomBody .info input[type="button"] {
  background: #ffffff;
  padding: 20px 50px;
  border-radius: 10px;
}

.navBar {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 30;
  -webkit-animation: ease-out 1.5s;
          animation: ease-out 1.5s;
}

.navBar .navAll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.navBar .navLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
}

.navBar .navLogo img {
  width: 25%;
}

.navBar .navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 62%;
  margin-top: 10px;
}

.navBar ul {
  text-transform: uppercase;
  font-size: 1rem;
  width: 100%;
  padding: 10px;
}

.navBar a {
  text-decoration: none;
  color: #b3b3b3;
  font-family: Poppins, sans-serif, sans-serif;
}

.navBar button {
  background: #7c2968;
  padding: 15px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  color: white;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.navBar button:hover {
  color: #7c2968;
}

.navBar li {
  width: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scheduleBody {
  background: #000000;
}

.scheduleBody .scheduleHeader {
  margin-top: 300px;
}

.scheduleBody .scheduleHeader h2 {
  color: #ffffff;
  font-weight: 300;
}

.scheduleBody .scheduleHeader .nextDay {
  width: 80%;
  margin: 80px auto 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.scheduleBody .scheduleHeader .nextDay p {
  color: #b3b3b3;
  margin: 10px 0;
  line-height: 30px;
  font-weight: 300;
}

.scheduleBody .scheduleHeader .nextDay input[type="button"] {
  color: #ffffff;
  background: #742663;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px 0;
}

.scheduleBody .scheduleHeader .nextDay input[type="button"]:hover {
  cursor: pointer;
}

.scheduleBody .scheduleHeader .nextDay div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.scheduleBody .scheduleHeader .nextDay section {
  display: none;
  background: #742663;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
}

.scheduleBody .schedule {
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ffffff;
}

.scheduleBody .schedule p {
  color: #b3b3b3;
  font-weight: 300;
}

.scheduleBody .schedule div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.scheduleBody .schedule div img {
  display: none;
}

.scheduleBody .schedule div input[type="button"] {
  width: 150px;
  color: #000000;
  background: #ffffff;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 5px 0;
}

.scheduleBody .schedule div input[type="button"]:hover {
  cursor: pointer;
}

.scheduleBody .question {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scheduleBody .question h2 {
  color: #ffffff;
}

.scheduleBody .question input[type="button"] {
  color: #000000;
  background: #ffffff;
  border-radius: 10px;
  padding: 20px 40px;
  margin: 50px 0;
}

@media (max-width: 800px) {
  .scheduleBody .scheduleHeader .nextDay {
    width: 90%;
    border-top: 0px transparent;
    border-bottom: 0px transparent;
  }
  .scheduleBody .scheduleHeader .nextDay section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .scheduleBody .scheduleHeader .nextDay input[type="button"] {
    display: none;
  }
  .scheduleBody .schedule {
    width: 90%;
  }
  .scheduleBody .schedule p {
    font-size: 0.8rem;
  }
  .scheduleBody .schedule div img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .scheduleBody .schedule div input[type="button"] {
    display: none;
  }
  .scheduleBody .schedule:first-child {
    border-top: 1px solid #ffffff;
  }
  .scheduleBody .question input[type="button"] {
    padding: 30px 60px;
  }
}

.reserveBody {
  background: #000000;
}

.reserveBody #reservationParam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 200px auto;
  width: 80%;
}

.reserveBody #reservationParam h2 {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 100px;
}

.reserveBody #reservationParam .reserveDate {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 30px;
}

.reserveBody #reservationParam .reserveDate p {
  color: #b3b3b3;
  margin: 10px 0;
  font-weight: 300;
}

.reserveBody #reservationParam .reserveParam {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  color: #b3b3b3;
}

.reserveBody #reservationParam .reserveParam .reserveOption {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 20% 20% 20% 20% 20%;
      grid-template-rows: 20% 20% 20% 20% 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reserveBody #reservationParam .reserveParam .reserveOption p {
  color: #b3b3b3;
}

.reserveBody #reservationParam .reserveParam .reserveOption #cbtn {
  border-radius: 10px;
  padding: 10px 20px;
  height: 50%;
  width: 70%;
  background: #000000;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.reserveBody #reservationParam .reserveParam .reserveOption #gbtn {
  border-radius: 10px;
  padding: 10px 20px;
  height: 50%;
  width: 70%;
  background: #ffffff;
  color: #000000;
}

.reserveBody #reservationParam .reserveParam .reserveOption #paNumber {
  border-radius: 10px;
  height: 50%;
  width: 70%;
}

.reserveBody #reservationParam .reserveParam #img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */